.sellerWorkAgentContent {
    padding-top: 2rem;
}
.sellerWorkAgentContent h2{
    font-family: "Comfortaa", Sans-serif;
}

.sellerWorkAgentContent button{
    border-radius: 5px;
    background: #049399 !important;
    color: #fff;
    padding: 6px 28px;
}
.sellerWorkAgentAuction {
    margin: 4rem auto;
    color: #3a3a3a!important;
}
.sellerWorkAgentAuction i {
    font-size: 25px;
    margin-right: 10px;
}
.sellerWorkAgentAuction div {
    font-size: 20px;
    margin-bottom: 6px;
}
.sellerWorkAgentBid {
    margin: 4rem auto;
}

.sellerWorkAgentBid h1 {
    margin-bottom:4rem ;
}
.sellerWorkAgentBid p {
    color: #060000;
}
.additionalSellingOption {
    margin-top: 3rem;
}
.accordion {
    margin: 4rem auto;
    color: #7A7A7A;
}
.accordion-body {
    font-size: 20px;
}
.accordion-button:focus {
    box-shadow: none
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
}

/* //Accordion Custom Style  */
/* Custom style */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
    
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  }
  @media screen and (max-width: 991px) {
    .sellerWorkAgentContent {
        margin-top: 6rem;
    }
  }