.updateListing {
    margin: 2rem auto;
}
.updateListing ul li {
    width: 20%;
}
.updateListing .leftCol {
  background-color: #cbc8c8;
  background-image: url("../pictures/addListing.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.updateListing .overlay {
    background: #049399 !important;
    height: 100vh;
    opacity: 0.8;
}
.tabsNumber {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-weight: 600;
    position: relative;
    background: #fafafb;
    padding: 12px 16px;
    
}
a ,a:hover{
    color: #000!important;
}
.tabsNumber span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #049399 !important;
    color: #fff;
    border-radius: 100%;
    line-height: 25px;
    font-size: 12px;
    margin-right: 10px;

}
.tabsNumber span:after {
    width: 95%;
    position: absolute;
    content: "";
    height: 1px;
    background: 0 0;
    border-top: 1px solid rgba(164,174,198,.2);
    top: 1.5rem;
    z-index: 0;
    left: 8.5rem;
}
/* //////////////////////// Basic Tab ////////////////// */
.updateListing .basic .rightFooter .btnNext{
    background: linear-gradient(89deg,#fff 0,rgb(248 249 250) 100%);
    right: 2rem;
    bottom: 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.updateListing .basic .rightFooter .btnPrevious{
    background: linear-gradient(89deg,#fff 0,rgb(248 249 250) 100%);
    left: 2rem;
    bottom: 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.updateListing .basic .rightBody .title{
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    padding-left: 60px;
    position: relative;
    margin-bottom: 50px;
}
.updateListing .basic .title-number {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #049399 !important;
    color: #fff;
    border-radius: 100%;
    left: 0px;
    top: 0px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}
.updateListing .basic label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
}
.updateListing .basic .form-control,.updateListing .basic .form-select {
    min-height: calc(2.55rem + 5px);
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px 0 rgb(66 71 112 / 12%);
    border-radius: 0.25rem;
    background-color: #fafafb;
    margin-bottom: 30px;
}
.updateListing .basic .locationCard {
    box-shadow: none;
    background: #fafafb;
    border: 2px dashed #ddd;
    cursor: pointer;
}
#myLocation .modal-footer button {
    background-color: #049399!important;
    color: #ffffff;
}
.updateListing .basic .tab-pane  {
    margin-bottom: 10rem;
}
.updateListing .basic .header-divider {
    flex-grow: 1;
    height: 2px;
    background: #ebebeb;
}
.updateListing .basic .fa-dollar {
    padding: 0 20px;
    background: #facd34;
    color: #fff;
    border: 0;
    font-weight: 700;
    line-height: 47px;
    margin-right: -5px;
    z-index: 1;
    border-radius: 3px 0 0 3px
}
/* Media  */
.updateListing .custom-mediaFile {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}
.updateListing .custom-mediaFile .custom-input {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        margin: 0;
        overflow: hidden;
        opacity: 0;
}
.updateListing .custom-mediaFile .custom-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    
}
.updateListing .custom-mediaFile .custom-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: block;
        height: calc(1.5em + 0.75rem);
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        content: "Browse";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 0.25rem 0.25rem 0;
}
.updateListing .custom-mediaFile .custom-label::after {
    background-color: #343a40 !important;
    color: #fff !important;
}
.updateListing .single-video .fa-times {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #fff;
    font-size: 1rem;

}
@media screen and (max-width: 991px) {
    .updateListing {
        margin-top: 6rem;
    }
    .tabsNumber span:after {
        width: 0%;
       
    }
    
  }
  @media screen and (max-width:468px) {
    .updateListing ul li {
        width: 24%;
    }
  }